body {
    background: #999;
}

#index {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #666;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    min-height: 700px;
}

#index h1 {
    text-align: center;
}

#index>ul>li {
    font-size: 20px;
    padding: 10px 60px;
}

.copyright {
    display: none;
}
